/* LoadingDots.css */
.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 20%;
  }
  
  .dot {
    font-size: 58px;
    margin: 0 4px;
    animation: bounce 0.5s ease-in-out infinite;
  }
  
  .dot.active {
    animation: bounce-active 0.5s ease-in-out infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce-active {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }